{% extends '_base.html' %}

<!-- Static files django label -->
{% load static %}

<!-- this page specific styles -->
{% block style %}
    <link rel="stylesheet" href="{% static 'css/compiled/user-profile.css' %}" type="text/css" media="screen"
          xmlns="http://www.w3.org/1999/html"/>
    <link rel="stylesheet" href="{% static 'css/compiled/ui-elements.css' %}" type="text/css" media="screen" />
{% endblock %}

{% block title %} Edit Treatment Sequence {% endblock %}

{% block active-sequences %} class="active" {% endblock %}

{% block content %}
    <div id="pad-wrapper" class="user-profile">
        <!-- header -->
        <div class="row header" style="margin-bottom: 20px;">
            <div class="col-md-8">
                <h4 class="name">Treatment sequence code: {{ sequence.code }}</h4>
                <span class="area">Select the patient's diagnostic and treatment for it</span>
            </div>
            {% if sequence.status == 2 and sequence.total > 0 %}
                <a href="{% url 'close_sequence' sequence.code %}" class="btn-flat icon large pull-right edit">
                    Close treatment sequence
                </a>
            {% endif %}
        </div>

        <div class="row" style="margin-top: 50px;">
            <form class="form-horizontal" role="form" action="{% url 'process_sequence' sequence.code %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="patient_dni" id="patient_dni" value="{{ patient.dni }}">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="diagnostic_code" class="col-md-5 control-label">Patient's diagnostics</label>
                            <div class="col-md-7">
                                <div class="ui-select" style="width: 100%;">
                                    <select id="diagnostic_code" name="diagnostic_code" required>
                                        <option value="">Select</option>
                                        {% for history in patient.clinic_history %}
                                            {% if history.status == 0 %}
                                                <option value="{{ history.code }}">{{ history.diagnostic }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="treatment_code" class="col-md-4 control-label">Clinic treatments</label>
                            <div class="col-md-8">
                                <div class="ui-select" style="width: 100%;">
                                    <select id="treatment_code" name="treatment_code" required>
                                        <option value="">Select</option>
                                        {% for treatment in treatments %}
                                            <option value="{{ treatment.code }}">{{ treatment.name }} - ${{ treatment.price }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="treatment_quantity" class="col-md-1 control-label">-</label>
                            <div class="col-md-10">
                                <div class="ui-select" style="width: 100%;">
                                    <select id="treatment_quantity" name="treatment_quantity" required>
                                        <option value="">Quantity</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn-glow primary">Add</button>
                                <span> &nbsp; OR</span>
                                <input type="reset" value="Clean" class="reset">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="row profile" style="margin-top: 50px; padding: 0 20px;">
            <div class="">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-1">
                                Action
                            </th>
                            <th class="col-md-1">
                                <span class="line"></span>
                                Date
                            </th>
                            <th class="col-md-4">
                                <span class="line"></span>
                                Diagnostic tooth's
                            </th>
                            <th class="col-md-4">
                                <span class="line"></span>
                                Diagnostic description
                            </th>
                            <th class="col-md-4">
                                <span class="line"></span>
                                Treatment
                            </th>
                             <th class="col-md-1">
                                <span class="line"></span>
                                Quantity
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if sequence.treatments != None %}
                            {% for treatment in sequence.treatments %}
                                <!-- results row -->
                                <tr class="first">
                                    <td>
                                        <form class="form-horizontal" role="form" action="{% url 'delete_sequence_treatment' sequence.code treatment.diagnostic_code %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="subtotal" id="subtotal" value="{{ treatment.subtotal }}">
                                            <input type="hidden" name="patient_dni" id="patient_dni" value="{{ sequence.patient }}">
                                            <button type="submit" class="btn-flat icon pull-left delete-user" data-toggle="tooltip" title="Delete" data-placement="top">
                                                <i class="icon-trash"></i>
                                            </button>
                                        </form>
                                    </td>
                                    <td>
                                        {{ treatment.date }}
                                    </td>
                                    <td>
                                        {{ treatment.diagnostic_code }}
                                    </td>
                                    <td>
                                        {{ treatment.diagnostic_code }}
                                    </td>
                                    <td>
                                        {{ treatment.treatment_code }}
                                    </td>
                                    <td>
                                        x{{ treatment.treatment_quantity }}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr class="first">
                                <td colspan="4">There is no records</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row" style="margin-top: 40px;">
            <div class="col-md-6">
                <a href="{% url 'sequences' %}" class="btn-flat success pull-left">Back</a>
            </div>
        </div>

    </div>
{% endblock %}
