{% extends '_base.html' %}

<!-- Static files django label -->
{% load static %}

<!-- this page specific styles -->
{% block style %}
    <link rel="stylesheet" href="{% static 'css/compiled/new-user.css' %}" type="text/css" media="screen" />
{% endblock %}

{% block title %} Create Patient {% endblock %}

{% block active-patients %} class="active" {% endblock %}

{% block content %}
    <div id="pad-wrapper" class="new-user">
        <div class="row header">
            <div class="col-md-offset-4 col-md-4">
                <h3 class="text-center">Create a new patient</h3>
            </div>
        </div>
        <div class="row form-wrapper">
            <div class="col-md-offset-2 col-md-8">
                <form class="form-horizontal" role="form" action="{% url 'create_patient' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="dni" class="col-md-2 control-label">Dni</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="dni" id="dni" placeholder="Dni" value="{{ dni }}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-md-2 control-label">Name</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Name" value="{{ name }}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="date_of_birth" class="col-md-2 control-label">Date of Birth</label>
                        <div class="col-md-8">
                            <input name="date_of_birth" id="date_of_birth" type="text" class="form-control input-datepicker" placeholder="Date of birth" value="01/01/2000" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-md-2 control-label">Email</label>
                        <div class="col-md-8">
                          <input type="email" class="form-control" name="email" id="email" placeholder="Email" value="{{ email }}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-md-2 control-label">Phone</label>
                        <div class="col-md-8">
                          <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone" value="{{ phone }}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-md-2 control-label">Address</label>
                        <div class="col-md-8">
                            <textarea class="form-control" name="address" id="address" required>{{ address }}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="visit_reason" class="col-md-2 control-label">Visit Reason</label>
                        <div class="col-md-8">
                          <input type="text" class="form-control" name="visit_reason" id="visit_reason" placeholder="Visit reason" value="{{ visit_reason }}" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <button type="submit" class="btn-glow primary">Create</button>
                            <span> &nbsp; OR</span>
                            <input type="reset" value="Clean" class="reset">
                            <a href="{% url 'patients' %}" class="btn-flat success pull-right">Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
