{% extends "auth/_base.html" %}

<!-- Static files django label -->
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "css/compiled/signin.css" %}" type="text/css" media="screen" />
{% endblock %}

{% block title %} Log in {% endblock %}

{% block content %}

    <div class="login-wrapper">
        <img class="logo" src="{% static "img/logo-white.png" %}" alt="logo" />

        <div class="box">
            <div class="content-wrap">
                <form class="" action="{% url "login" %}" method="POST">
                    {% csrf_token %}
                    <h6>Log in</h6>
                    <input name="username" class="form-control" type="text" placeholder="Username" required>
                    <input name="password" class="form-control" type="password" placeholder="Your password" required>
                    <br>
                    <button class="btn-glow primary login" type="submit">Log In</button>
                </form>
            </div>
        </div>

        <!--<div class="no-account">
            <p>Don't have an account?</p>
            <a href="{% url "signup" %}">Sign up</a>
        </div>-->
    </div>

{% endblock %}