{% extends '_base.html' %}

<!-- Static files django label -->
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/compiled/user-list.css' %}" type="text/css" media="screen" />
{% endblock %}

{% block title %} Users List {% endblock %}

{% block active-users %} class="active" {% endblock %}

{% block content %}
    <div id="pad-wrapper" class="users-list">
        <div class="row header">
            <h3>Users</h3>
            <div class="col-md-10 col-sm-12 col-xs-12 pull-right">
                <form class="form-horizontal" role="form" action="{% url 'users' %}" method="get">
                    {% csrf_token %}
                    <input type="text" class="col-md-5 search" name="search" placeholder="Type a user's name...">
                </form>
                <a href="{% url 'create_user' %}" class="btn-flat success pull-right">
                    <span>&#43;</span>
                    NEW USER
                </a>
            </div>
        </div>
        <!-- Users table -->
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-3">
                                Name
                            </th>
                            <th class="col-md-3">
                                Username
                            </th>
                            <th class="col-md-2">
                                <span class="line"></span>Phone
                            </th>
                            <th class="col-md-2">
                                <span class="line"></span>Email
                            </th>
                            <th class="col-md-2">
                                <span class="line"></span>Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    <!-- row -->
                    {% if users != None %}
                        {% for user in users %}
                            <tr class="first">
                                <td>
                                    {% if user.pic != None %}
                                        <img src="{% static user.pic %}" alt="contact" class="img-circle avatar hidden-phone" />
                                    {% else %}
                                        <img src="{% static 'img/contact-img.png' %}" alt="contact" class="img-circle avatar hidden-phone" />
                                    {% endif %}

                                    <a class="name">{{ user.name }}</a>
                                    <span class="subtext">{{ user.role|upper }}</span>
                                </td>
                                <td>
                                    {{ user.username }}
                                </td>
                                <td>
                                    {{ user.phone }}
                                </td>
                                <td>
                                    <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                                </td>
                                <td>
                                    <a href="{% url 'edit_user' user.username %}">Edit</a>
                                    &nbsp;
                                    <a href="{% url 'delete_user' user.username %}">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr class="first">
                            <td colspan="5">There is no records</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end users table -->
        <!-- Paginator -->
        <ul class="pagination pull-right">
            {% if pages.has_previous %}
                <li><a href="?page={{ pages.previous_page_number }}">&#8249;</a></li>
            {% endif %}
            <li class="active"><a>Page {{ pages.number }} of {{ pages.paginator.num_pages }}.</a></li>
            {% if pages.has_next %}
                <li><a href="?page={{ pages.next_page_number }}">&#8250;</a></li>
            {% endif %}
        </ul>
        <!-- End paginator -->
    </div>
{% endblock %}
