{% extends '_base.html' %}

<!-- Static files django label -->
{% load static %}

<!-- this page specific styles -->
{% block style %}
    <link rel="stylesheet" href="{% static 'css/compiled/new-user.css' %}" type="text/css" media="screen" />
{% endblock %}

{% block title %} Create User {% endblock %}

{% block active-users %} class="active" {% endblock %}

{% block content %}
    <div id="pad-wrapper" class="new-user">
        <div class="row header">
            <div class="col-md-offset-4 col-md-4">
                <h3 class="text-center">Create a new user</h3>
            </div>
        </div>
        <div class="row form-wrapper">
            <div class="col-md-offset-2 col-md-8">
                <form class="form-horizontal" role="form" action="{% url 'create_user' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name" class="col-md-2 control-label">Name</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Name" value="{{ name }}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-md-2 control-label">Email</label>
                        <div class="col-md-8">
                          <input type="email" class="form-control" name="email" id="email" placeholder="Email" value="{{ email }}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-md-2 control-label">Phone</label>
                        <div class="col-md-8">
                          <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone" value="{{ phone }}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="role" class="col-md-2 control-label">Role</label>
                        <div class="col-md-8">
                            <div class="ui-select" style="width: 100%;">
                                <select id="role" name="role" required>
                                    <option value="">Select</option>
                                    <option value="admin" {% if role == "admin" %} {{ "selected" }} {% endif %}>Administrator</option>
                                    <option value="office" {% if role == "office" %} {{ "selected" }} {% endif %}>Office</option>
                                    <option value="doctor" {% if role == "doctor" %} {{ "selected" }} {% endif %}>Doctor</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="file" class="col-md-2 control-label">Upload a photo</label>
                        <div class="col-md-8">
                          <input name="file" type="file" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-md-2 control-label">Username</label>
                        <div class="col-md-8">
                          <input type="text" class="form-control" name="username" id="username" placeholder="Username" value="{{ username }}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-md-2 control-label">Password</label>
                        <div class="col-md-8">
                          <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password2" class="col-md-2 control-label">Repeat Password</label>
                        <div class="col-md-8">
                          <input type="password" class="form-control" name="password2" id="password2" placeholder="Repeat Password" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <button type="submit" class="btn-glow primary">Create</button>
                            <span> &nbsp; OR</span>
                            <input type="reset" value="Clean" class="reset">
                            <a href="{% url 'users' %}" class="btn-flat success pull-right">Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
