{% extends '_base.html' %}

<!-- Static files django label -->
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/compiled/index.css' %}" type="text/css" media="screen" />
    <!-- open sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />
    <!-- lato font -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />
{% endblock %}

{% block title %} Dashboard {% endblock %}

{% block active-dashboard %} class="active" {% endblock %}

{% block content %}
    <!-- upper main stats -->
    <div id="main-stats">
        <div class="row stats-row">
            <div class="col-md-3 col-sm-3 stat">
                <div class="data">
                    <span class="number">{{ patients }}</span>
                    patients
                </div>
                <span class="date">Satisfied</span>
            </div>
            <div class="col-md-3 col-sm-3 stat">
                <div class="data">
                    <span class="number">{{ users }}</span>
                    users
                </div>
                <span class="date">Registered</span>
            </div>
            <div class="col-md-3 col-sm-3 stat">
                <div class="data">
                    <span class="number">{{ sequences|length }}</span>
                    Treatments
                </div>
                <span class="date">Done</span>
            </div>
            <div class="col-md-3 col-sm-3 stat last">
                <div class="data">
                    <span class="number">${{ total }}</span>
                    incomes
                </div>
                <span class="date">Total</span>
            </div>
        </div>
    </div>
    <!-- end upper main stats -->

    <div id="pad-wrapper">
        <!-- statistics chart built with jQuery Flot -->
        <div class="row chart">
            <div class="col-md-12">
                <h2 class="clearfix pull-left">
                    Dental clinic administration software
                </h2>
            </div>
            <div class="col-md-12">
                <div id="statsChart"></div>
            </div>
        </div>
        <!-- end statistics chart -->
    </div>

	<!-- scripts -->
    <script src="{% static 'js/jquery-latest.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.10.2.custom.min.js' %}"></script>
{#    <!-- knob -->#}
{#    <script src="{% static 'js/jquery.knob.js' %}"></script>#}
{#    <!-- flot charts -->#}
{#    <script src="{% static 'js/jquery.flot.js' %}"></script>#}
{#    <script src="{% static 'js/jquery.flot.stack.js' %}"></script>#}
{#    <script src="{% static 'js/jquery.flot.resize.js' %}"></script>#}
{#    <script src="{% static 'js/theme.js' %}"></script>#}

{% endblock %}