/.idea
/__pycache__
/dentaladmin/__pycache__
/apps/auth/__pycache__
/apps/users/__pycache__
/apps/patients/__pycache__
/apps/treatments/__pycache__
/apps/treatment_sequences/__pycache__
/apps/reports/__pycache__
/static/img/avatars/